%body
  .chat-side
    .side-header
      .side-box
        .side-box__name ユーザー
        .side-box__icon
          = link_to "#", class: "new-group__btn" do
            <i class='far fa-edit'></i>
          = link_to "#", class: "account__btn" do
            <i class="fas fa-cog"></i>
    .group-contact
      .group-box
        .group-box__name ＜サイドバー＞
        .group-box__message ハロー
      .group-box
        .group-box__name ＜サイドバー2＞
        .group-box__message ハロー2